MONGO_URI="mongodb://127.0.0.1/momentum" # Should be the connection URI for your MongoDB database.
BOT_TOKEN="" # The token for your Discord bot.
CLIENT_ID="" # The client ID for your Discord bot.
GUILD_ID="" # Your Discord servers guild ID
GLOBALCHATENABLED=true # Set to true if you want to enable global chat.
NAME="" # The name of your backend. Name it anything you want. Dont use special characters or spaces.
PORT=8080 # The port you want your backend to run on.
GAME_SERVERS="127.0.0.1_192.168.178" # The IP addresses of your game servers. Separate them with underscores (_) !IMPORTANT! Do not add a port to the IP addresses.
# Advanced settings (only change if you know what you're doing)
MATCHMAKER_IP="127.0.0.1:80" # The URL for your matchmaker.
PER_USER_SERVER=false
USE_S3=false # Set to true if you want to use S3 for file storage. Requires more setup
S3_BUCKET_NAME="" # The name of your S3 bucket. Only needed if USE_S3 is true.
S3_ENDPOINT="" # The endpoint of your S3 bucket. Only needed if USE_S3 is true.
S3_ACCESS_KEY_ID="" # The access key ID for your S3 bucket. Only needed if USE_S3 is true.
S3_SECRET_ACCESS_KEY="" # The secret access key for your S3 bucket. Only needed if USE_S3 is true.
USE_REDIS = false # Set to true if you want to use Redis for caching and token storing. Requires more setup
REDIS_TOKEN = "" # The token for your Redis database. Only needed if USE_REDIS is true.
REDIS_URL = "" # The URL for your Redis database. Only needed if USE_REDIS is true.
